<div class="name">
  <h1>Ivo Costa Cunha</h1>
  <h2><i class="bi bi-arrow-return-right"></i>&nbsp;<i class="bi bi-braces-asterisk"></i> Developper</h2>
</div>
<h2> Contact </h2>
<div>
  <span><i class="bi bi-phone-fill"></i> &nbsp;{{contact.tel}}</span><br>
  <span><i class="bi bi-envelope-at-fill"></i> &nbsp;<a (click)="onClickSendMail(contact.mail)">{{contact.mail}}</a></span>
  <div class="socials-container">
    <button class="social" (click)="onClickRedirect(contact.gitlab)">
      <i class="bi bi-gitlab"></i>
      <!-- GitLab -->
    </button>
    <button class="social" (click)="onClickRedirect(contact.github)">
      <i class="bi bi-github"></i>
      <!-- GitLab -->
    </button>

    <button class="social" (click)="onClickRedirect(contact.linkedIn)">
      <i class="bi bi-linkedin"></i>
      LinkedIn
    </button>
  </div>
</div>
