<div class="name">
    <h1>Ivo Costa Cunha</h1>
    <h2>
        <i class="bi bi-arrow-return-right"></i>&nbsp;
        <i class="bi bi-braces-asterisk"></i>&nbsp;Developer
    </h2>
</div>
<h2>Contact</h2>
<div class="contacts-container">
    <span class=>
        <i class="bi bi-envelope-at-fill"></i>&nbsp;
        <a (click)="sendMail(contact.mail)">{{contact.mail}}</a><br>
        ~ For professional matters.
    </span><br>
    <span>
        <i class="bi bi-envelope-at-fill"></i>&nbsp;
        <a (click)="sendMail(contact.mail)">{{contact.proMail}}</a><br>
        ~ For development matters.
    </span>
</div>
<div class="social-container">
    <a class="link-button" href="{{contact.linkedIn}}">
        <i class="bi bi-linkedin"></i></a>
    <a class="link-button" href="{{contact.github}}">
        <i class="bi bi-github"></i></a>
    <a class="link-button" href="{{contact.codeberg}}">
        <i class="bi bi-git"></i>&nbsp;Codeberg</a>
</div>
