.container {
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;

    padding-left: 2.5em;
    padding-right: 2.5em;
    padding-top: 2.5em;
    padding-bottom: 2.5em;

    height: fit-content;
    min-height: 100%;

    background-color: inherit;

    @media (orientation: portrait), (max-width: 1000px) {
        flex-direction: column;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
}

.left-container {
    box-sizing: border-box;
    flex: 1 0 fit-content;
    padding: 1.5em;


    background-color: var(--color-containerA);

    @media (orientation: landscape) and (min-width: 1000px) {
        top: 2.5em;
        position: sticky;
    }

    @media (orientation: portrait), (max-width: 1000px) {
        width: 100%;
        margin-bottom: 1%;
    }
}

.right-container {
    box-sizing: border-box;

    border-radius: 1em;
    display: flex;
    flex-direction: column;

    padding: 1.5em;
    background-color: var(--color-containerB);
    gap: 1em;
}

.project-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

