.tag-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  flex-wrap: wrap;
}

.tag {
  max-height: 1.5em;
  background-color: var(--color-accentA);
  max-width: fit-content;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  padding: 0.5em;
  border-radius: 0.5em;
  font-size: 0.9em;
}