<div class="container">
  <div class="left-container">
    <div class="menu">
      <div>
        <a href=""> Home </a> |
        <a href="#about-me"> About me </a> |
        <a href="#education"> Education </a> |
        <a href="#projects"> Projects </a>
      </div>
      <!-- <div>
        <a routerLink="/projects-list" routerLinkActive="active"> Projects list </a> |
        <a routerLink="/admin" routerLinkActive="active"> Admin</a>
      </div> -->
    </div>

    <div class="name">
      <h1> Ivo Costa Cunha </h1>
      <h2> Developper </h2>
    </div>

    <h2> Contact </h2>

    <div>
      <span> Tel: {{websiteData.contact.tel}} </span><br>
      <span> Email: {{websiteData.contact.email}} </span>

      <div class="socials-container">
        <button class="social" (click)="onClickRedirect(websiteData.contact.github)">
          <i class="bi bi-github"></i>
          Github
        </button>
        <button class="social" (click)="onClickRedirect(websiteData.contact.linkedIn)">
          <i class="bi bi-linkedin"></i>
          LinkedIn
        </button>
      </div>
    </div>
  </div>
  <div class="right-container">

    <h1> About this website </h1>
    <div class="paragraphs" [innerHTML]="websiteData.siteIntro"></div>

    <div class="about-me-container">
      <div>
        <a id="about-me"></a>
        <h1> About me </h1>
        <div class="paragraphs aboutme-paragraphs" [innerHTML]="websiteData.aboutMe"></div>
      </div>
      <figure class="figures">
        <img src={{websiteData.photoPath}} class="photo" />
        <caption> Me in such a dramatic situation !</caption>
      </figure>
    </div>

    <h1> Beliefs </h1>
    <div class="paragraphs" [innerHTML]="websiteData.beliefs"></div>

    <h1> Me as freelance </h1>
    <div [innerHTML]="websiteData.freelance" class="paragraphs"></div>

    <h1> Skills </h1>
    <div class="tag-container">
      <div *ngFor="let skill of websiteData.skills" [style]="getGradient(skill.rating)"
      class="tag">
        {{skill.name}} | <i class="bi bi-stars"></i> {{skill.rating}}%
      </div>
    </div>

    <a id="projects"></a>
    <h1> Projects </h1>

    <div class="paragraphs" [innerHTML]="websiteData.projectsIntro"> </div>

    <div class="project-container">
      <div *ngFor="let project of websiteData.projects" class="project">
        <div class="title-top">
          <span class="title" [innerHTML]="project.title"></span>
          <span class="year" [innerHTML]="project.year"></span>
        </div>

        <span [innerHTML]="project.description"></span>

        <div class="project-mid">
          <img class="project-img" loading="lazy" [src]="project.img" />
          <div class="tag-container">
            <div *ngFor="let tag of project.tags" class="tag"> {{tag}} </div>
          </div>
        </div>
        <div class="project-bottom">
          <button class="project-links" (click)="onClickRedirect(project.githubLink)">
            <i class="bi bi-github"></i> Github
          </button>
          <button class="project-links" (click)="onClickRedirect(project.link)">
            <i class="bi bi-link"></i> Website
          </button>
        </div>

      </div>
    </div>

    <a id="education"></a>
    <h1> Education </h1>

    <div [innerHTML]="websiteData.educationIntro" class="paragraphs"></div>

    <h2 class="diploma-list-title"> Diploma list </h2>
    <div class="diploma-container">
      <div *ngFor="let diploma of websiteData.diplomas" class="diploma">
        <div class="title-top">
          <span class="title" [innerHTML]="diploma.title"></span>
          <span class="year" [innerHTML]="diploma.year"></span>
        </div>
        <div class="diploma-bottom">
          <span class="diploma-description" [innerHTML]="diploma.description"></span>
          <button class="diploma-download-button" (click)="onClickDownload(diploma.filePath)">
            <i class="bi bi-arrow-down-circle-fill"></i> PDF
          </button>
        </div>

      </div>
    </div>

    <footer>
      <span> Copyright &copy; Ivo Costa Cunha - Done with Angular v18.2 and a some CSS </span>
    </footer>
  </div>
</div>