<div class="container">
    <div class="left-container">
        <div class="left-content">
            <p> <a href="#about-me"> About me</a> |
                <a href="#education"> Education</a> |
                <a href="#projects"> Projects</a> <a routerLink="/projects-list" routerLinkActive="active"> (list) </a>
                |
                <a href="#contact"> Contact</a> |
                <a routerLink="/admin" routerLinkActive="active"> Admin</a>
            </p>
            <h1> Ivo Costa Cunha </h1>
            <h2> Developper </h2>
        </div>
    </div>
    <div class="right-container">
        <div class="right-content">
            <a id="about-me"></a>
            <h1> About me </h1>
            <p>
                {{websiteData.aboutMe}}
            </p>

            <a id="education"></a>
            <h1> Education </h1>

            <span> {{websiteData.educationResume}} </span>

            <h2 class="diploma-list-title"> Diploma list </h2>
            <div class="diploma-container">
                <div *ngFor="let diploma of websiteData.diplomas" class="diploma">
                    <div class="diploma-top">
                        <span class="diploma-title"> {{diploma.title}} </span>
                        <span class="diploma-year"> ({{diploma.year}}) </span>
                    </div>
                    <div class="diploma-bottom">
                        <span class="diploma-description"> {{diploma.description}} </span>
                        <button mat-raised-button (click)="onClickDownload($event)"> Download PDF </button>
                    </div>

                </div>
            </div>

            <a id="projects"></a>
            <h1> Projects </h1>

            <h2 class="diploma-list-title"> Diploma list </h2>
            <div class="project-container">
                <div *ngFor="let project of websiteData.projects" class="project">
                    <div class="diploma-top">
                        <span class="diploma-title"> {{project.title}} </span>
                        <span class="diploma-year"> ({{project.year}}) </span>
                    </div>
                    <div class="diploma-mid">
                        <span class="diploma-description"> {{project.description}} </span>
                    </div>
                    <div class="project-bottom">
                        <a href="{{project.link}}"> Link </a>
                        <a href="{{project.githubLink}}"> Github Link </a>
                    </div>

                </div>
            </div>

            <a id="contact"></a>
            <h1> Contact </h1>
            <p> {{websiteData.contact.tel}} </p>
            <p> {{websiteData.contact.email}} </p>
            <p> {{websiteData.contact.github}} </p>
            <p> {{websiteData.contact.linkedIn}} </p>

        </div>
    </div>
</div>