<a id="about-me"></a>
<div class="container">
  <div class="left-container">
    <div class="menu">
      <div>
        <a href="#about-me"> About me</a> |
        <a href="#education"> Education</a> |
        <a href="#projects"> Projects</a>
      </div>
      <div>
        <a routerLink="/projects-list" routerLinkActive="active"> Projects list </a> |
        <a routerLink="/admin" routerLinkActive="active"> Admin</a>
      </div>
    </div>

    <div class="name">
      <h1> Ivo Costa Cunha </h1>
      <h2> Developper </h2>
    </div>

    <h2> Contact </h2>

    <div>
      <span> Tel: {{websiteData.contact.tel}} </span><br>
      <span> Email: {{websiteData.contact.email}} </span>

      <div class="socials-container">
        <button class="social" (click)="onClickRedirect(websiteData.contact.github)">
          <i class="bi bi-github"></i>
          Github
        </button>
        <button class="social" (click)="onClickRedirect(websiteData.contact.linkedIn)">
          <i class="bi bi-linkedin"></i>
          LinkedIn
        </button>
      </div>
    </div>
  </div>
  <div class="right-container">

    <h1> About me </h1>
    <div class="about-me-container">
      <div class="aboutme-paragraphs paragraphs" [innerHTML]="websiteData.aboutMe"></div>
      <img src={{websiteData.photoPath}} class="photo" />
    </div>



    <a id="education"></a>
    <h1> Education </h1>

    <div [innerHTML]="websiteData.educationResume" class="paragraphs"></div>

    <h2 class="diploma-list-title"> Diploma list </h2>
    <div class="diploma-container">
      <div *ngFor="let diploma of websiteData.diplomas" class="diploma">
        <div class="title-top">
          <span class="title"> {{diploma.title}} </span>
          <span class="year"> ({{diploma.year}}) </span>
        </div>
        <div class="diploma-bottom">
          <span class="diploma-description"
          [innerHTML]="diploma.description"></span>
          <button class="diploma-download-button" (click)="onClickDownload(diploma.filePath)">
            <i class="bi bi-arrow-down-circle-fill"></i> PDF
          </button>
        </div>

      </div>
    </div>

    <a id="projects"></a>
    <h1> Projects </h1>

    <div class="paragraphs" [innerHTML]="websiteData.projectsResume"> </div>

    <div class="project-container">
      <div *ngFor="let project of websiteData.projects" class="project">
        <div class="title-top">
          <span class="title"> {{project.title}} </span>
          <span class="year"> ({{project.year}}) </span>
        </div>
        <div class="project-mid">
          <span class="diploma-description"> {{project.description}} </span>
        </div>
        <div class="tag-container">
          <span *ngFor="let tag of project.tags" class="tag"> {{tag}} </span>
        </div>
        <div class="project-bottom">
          <button class="project-links" (click)="onClickRedirect(project.githubLink)">
            <i class="bi bi-github"></i> Github
          </button>
          <button class="project-links" (click)="onClickRedirect(project.link)">
            <i class="bi bi-link"></i> Website
          </button>
        </div>

      </div>
    </div>

    <div class="footer">
      <span> Copyright &copy; Ivo Costa Cunha - Done with Angular v18.2 and a some CSS </span>
    </div>
  </div>
</div>