.left-container {
    box-sizing: border-box;
    padding: 2%;


    @media (orientation: landscape) {
        position: sticky;
        top: 0;
    }
    /* position: sticky;
    top: 0; */
    flex: 1 0 40%;

    background-color: #4793AF;
}

.right-container {
    box-sizing: border-box;
    padding: 2%;

    flex: 1 1 auto;
    background-color: #DD5746;
}

.diploma-list-title {
    text-align: center;
}

.diploma-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    @media (orientation: portrait) {
        flex-direction: column;
        top: 0;
    }
}

.diploma {
    border: solid 1px #4793AF;
    background-color: #4793AF;
    padding: 1%;
    margin: 1%;
    flex: 0 1 auto;
}

.diploma-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid;
}

.diploma-title {
    margin: 1%;
    text-align: center;
    flex: 1 1 auto;
    font-weight: bold;
}

.diploma-year {
    margin: 1%;
    text-align: center;
    flex: 1 1 auto;
    font-weight: 500;
}

.diploma-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.diploma-description {
    text-align: left;
    font-size: 0.9em;
    margin-bottom: 5%;
}

.project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project {
    border: solid 1px #4793AF;
    background-color: #4793AF;
    padding: 1%;
    margin: 1%;
    width: 100%;
    flex: 1 1 auto;
}

.project-mid {
    margin-top: 5%;
    margin-bottom: 5%;
}

.project-bottom {
    display: flex;
    flex-direction: row;
}

