<div class="project">
    <div class="project-top">
        <span class="title" [innerHTML]="project.title"></span>
        <span class="year" [innerHTML]="project.year"></span>
    </div>

    <span [innerHTML]="project.description"></span>

    <div class="project-mid">
    <a href="{{project.imgs[0]}}">
        <img class="project-img" tabindex="0"
        [alt]="project.title + '-illustation'"
        loading="lazy" [src]="project.imgs[0]"/>
        </a>
        <app-tag-container [tags]="project.tags"></app-tag-container>
    </div>
    <div class="project-bottom" id="project-bottom">
    @for(link of project.links; track link) {
        <a class="link-button" href="{{link.url}}">
        <i class="{{getIcon(link.name)}}">&nbsp;{{link.name}}</i>
        </a>
    }

        <!-- <a class="link-button" href="{{project.gitlabLink}}" -->
        <!-- *ngIf="project.gitlabLink !== '' "> -->
        <!-- <i class="bi bi-gitlab"></i>&nbsp;GitLab</a> -->
        <!---->
        <!-- <a class="link-button" href="{{project.codebergLink}}" -->
        <!-- *ngIf="project.codebergLink !== '' "> -->
        <!-- <i class="bi bi-git"></i>&nbsp;Codeberg</a> -->
        <!---->
        <!-- <a class="link-button" href="{{project.link}}" -->
        <!-- *ngIf="project.link !== '' "> -->
        <!-- <i class="bi bi-link"></i>&nbsp;Website</a> -->
        <!---->
        <!-- <a class="link-button" href="{{project.doc}}" -->
        <!-- *ngIf="project.doc !== '' "> -->
        <!-- <i class="bi bi-paperclip"></i>Report</a> -->
    </div>
</div>
