.education-container {
    display: flex;
    flex-direction: row;

    @media ((orientation: landscape) and (max-width: 1400px)),
    (orientation: portrait) {
        flex-direction: column;
    }
}

.photo-figure {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-top: 0em;
}

.photo {
    max-height: 600px;
    max-width: 400px;
    border-radius: 1em;
    align-self: center;

    @media (max-width: 1400px) {
        max-width: 70%;
        margin-top: 1em;
    }

    @media (orientation: portrait) {
        max-width: 100%;
    }
}
