<a id="about-me"></a>
<div class="container">
  <div class="left-container">
    <app-menu></app-menu>
    <app-contact [contact]="websiteData.contact"></app-contact>
  </div>
  <div class="right-container">
    <app-about-me [aboutMeHTML]="websiteData.aboutMeHTML" [workMethodsHTML]="websiteData.workMethodsHTML" [mePhotoPath]="websiteData.mePhotoPath"></app-about-me>

    <h1>Me as freelance</h1>
    <div [innerHTML]="websiteData.freelanceHTML" class="paragraphs"></div>

    <app-language-container [languages]="websiteData.languages"></app-language-container>

    <a id="projects"></a>
    <app-skill-container [skills]="websiteData.skills"></app-skill-container>
    <h1>Projects</h1>
    <div class="paragraphs" [innerHTML]="websiteData.projectsIntroHTML"> </div>
    <div class="project-container">
        <app-project *ngFor="let p of websiteData.projects" [project]="p"></app-project>
    </div>

    <h1>Beliefs</h1>
    <div class="paragraphs" [innerHTML]="websiteData.beliefsHTML"></div>

    <a id="education"></a>
    <app-education [eduIntroHTML]="websiteData.eduIntroHTML" [eduPhotoPath]="websiteData.eduPhotoPath" [certifications]="websiteData.certifications"></app-education>

    <app-footer></app-footer>
  </div>
</div>