/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bootstrap-icons/font/bootstrap-icons.min.css";

@font-face {
    font-family: Montserrat;
    src: url("assets/fonts/Montserrat-VariableFont_wght.ttf");
}

:root {
    --color-background: #FFC470; 
    --color-containerA: #4793AF;
    --color-containerB: #DD5746;
    --color-button: white;
    --color-tag: rgb(255, 255, 255);
    --color-font: black;
    --color-line: rgb(0, 0, 0);
}

html, body { 
    margin: 0;
    height: 100%;
}

body {
     font-family: "Montserrat", "sans-serif"; 
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.2em;
}


button {
    border-radius: 0.5em;
    box-shadow: none;
    border: none;
    text-align: center;
    background-color: var(--color-button);

    padding: 0.5em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;

    font-family: "Montserrat";
    font-size: medium;

}

span {
    margin-bottom: 0.5em;
    margin-top: 0.5em;

}

br {
    margin-bottom: 0.5em;
}

.container {
    box-sizing: border-box; 
    display: flex;
    align-items: flex-start;

    padding-left: 5em;
    padding-right: 5em;
    padding-top: 2.5em;
    padding-bottom: 2.5em;

    height: fit-content; 
    min-height: 100%;

    background-color: var(--color-background);

    font-family: "Montserrat";
    font-size: medium;

    @media (orientation: portrait), (max-width: 900px) {
        flex-direction: column;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
}

.paragraphs {
    line-height: 1.2em;
    text-align: justify;
    margin-top: 1em;
    margin-bottom: 1em;
}

.menu {
    text-align: center;
}