<h1> Certifications </h1>
<div class="certification-container" >
  <div class="certification" *ngFor="let c of certifications">
    <div class="title-top">
      <span class="title" [innerHTML]="c.title"></span>
      <span class="year" [innerHTML]="c.year"></span>
    </div>
    <div class="certification-bottom">
      <span class="certification-description" [innerHTML]="c.description"></span>
      <div class="link-container">
        <a
        *ngIf="c.filePath !== ''"
        class="link-button"
        href="{{c.filePath}}">
          <i class="bi bi-arrow-down-circle-fill"></i> PDF
        </a>
        <a
        *ngIf="c.link !== ''"
        class="link-button"
        href="{{c.link}}">
          <i class="bi bi-link"></i> Link
        </a>
      </div>
    </div>
  </div>
  </div>
