<div class="modification-form">

    <h2>Modification </h2>
    <button mat-raised-button (click)="onSignOut($event)"> Sign out </button>
<!-- 
  <mat-form-field class="text-areas">
    <mat-label>About Me</mat-label>
    <textarea matInput value={{websiteData.aboutme}}></textarea>
  </mat-form-field>

  <mat-form-field class="text-areas">
    <mat-label>Education</mat-label>
    <textarea matInput value={{websiteData.education}}></textarea>
  </mat-form-field>

  <mat-form-field class="text-areas">
    <mat-label>Projects</mat-label>
    <textarea matInput value={{websiteData.projects}}></textarea>
  </mat-form-field>

  <mat-form-field class="text-areas">
    <mat-label>Contact</mat-label>
    <textarea matInput value={{websiteData.contact}}></textarea>
  </mat-form-field> -->

  <button mat-raised-button (click)="onValidation($event)"> Validate & send </button>

</div>
