.align {
  margin-top: 0;
}
.about-me-container {
  display: flex;
  flex-direction: row;

  @media ((orientation: landscape) and (max-width: 1400px)), (orientation: portrait)  {
    flex-direction: column;
  }

  @media (orientation: portrait) {
    flex-direction: column;
  }
}

.photo-figure {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.photo {
  max-width: 320px;
  max-height: auto;
  border-radius: 1em;
  align-self: center;
  margin-top: 2.5em;

  @media (orientation: landscape) and (max-width: 1400px) {
      max-width: 70%;
      max-height: auto;
  }

  @media (orientation: portrait) {
    max-width: 100%;
    max-height: auto;
  }
}
