@import "../node_modules/bootstrap-icons/font/bootstrap-icons.min.css";

@font-face {
    font-family: confortaa-regular;
    src: url("fonts/confortaa/Comfortaa-Regular.ttf");
}

@font-face {
    font-family: confortaa-bold;
    src: url("fonts/confortaa/Comfortaa-Bold.ttf");
}

@font-face {
    font-family: agenorneue-regular;
    src: url("fonts/agenorneue/AgenorNeue-Regular.otf")
}

@font-face {
    font-family: nextart-semibold;
    src: url("fonts/next-art/NEXT\ ART_SemiBold.otf");
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-background: #243D42; 
        --color-containerA: #243D42;
        --color-containerB: #243D42;
        --color-subcontainer-background: #393D5A;
        --color-subcontainer-border: white;
        --color-accentA: #F54642;
        --color-accentB: #F51F01;
        --color-accentC: #614866;
        --color-font: white;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --color-background: #F2F2F2;; 
        --color-containerA: #F2F2F2;
        --color-containerB: #F2F2F2;
        --color-subcontainer-background: #D9D9D9;
        --color-subcontainer-border: #D9D9D9;
        --color-accentA: #99AABF;
        --color-accentB: #5496BF;
        --color-accentC: #5496BF;
        --color-font: black;
    }
}

html, body { 
    margin: 0;
    height: 100%
}

body {
     font-family: "agenorneue-regular"; 
     font-size: medium; 
     color: var(--color-font);
}

h1 {
    font-family: "nextart-semibold";
    font-size: 1.5em;
}

h2 {
    font-family: "confortaa-bold";
    font-size: 1.2em;
}

caption {
    font-family: "agenorneue-regular";
    font-size: small;
    font-style: italic;
    text-align: center;
    width: fit-content;
    margin-top: 0.5em;
}

button {
    border-radius: 0.5em;
    box-shadow: none;
    border: none;
    text-align: center;
    background-color: var(--color-accentA);

    padding: 0.5em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;

    font-family: "agenorneue-regular";
    font-size: medium;
    color: var(--color-font);
}
button:hover {
    transition: 250ms;
    background-color: var(--color-accentB);
    transform: translate(0em, -0.2em);
}

a {
    color: var(--color-font);
}

span {
    margin-bottom: 0.5em;
    margin-top: 0.5em;

}

br {
    margin-bottom: 0.5em;
}

.container {
    box-sizing: border-box; 
    display: flex;
    align-items: flex-start;

    padding-left: 2.5em;
    padding-right: 2.5em;
    padding-top: 2.5em;
    padding-bottom: 2.5em;

    height: fit-content; 
    min-height: 100%;

    background-color: var(--color-background);

    @media (orientation: portrait), (max-width: 1100px) {
        flex-direction: column;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
}

.paragraphs {
    line-height: 1.2em;
    text-align: justify;
    margin-top: 1em;
    margin-bottom: 1em;
}

.vm {
    margin-top: 1em;
    margin-bottom: 1em;
}

.hvm {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}