<h2 class="certifications-list-title"> Certifications </h2>
<div class="certification-container vm" >
  <div class="certification" *ngFor="let c of certifications">
    <div class="title-top">
      <span class="title" [innerHTML]="c.title"></span>
      <span class="year" [innerHTML]="c.year"></span>
    </div>
    <div class="certification-bottom">
      <span class="certification-description" [innerHTML]="c.description"></span>
      <div class="button-container">
        <button *ngIf="c.filePath !== ''" class="certification-button" (click)="onClickDownload(c.filePath)">
          <i class="bi bi-arrow-down-circle-fill"></i> PDF
        </button>
        <button *ngIf="c.link !== ''" class="certification-button" (click)="onClickDownload(c.link)">
          <i class="bi bi-link"></i> Link
        </button>
      </div>
    </div>
  </div>
  </div>
